---
---

@import "{{ site.theme }}";

.inner {
  width: 60%;
  margin: 0 auto;
}

.logo_position{
    width: 20%;
    max-width: 200px;
}

.page-header {
    min-height: 350x;
    width: 100%;
}

.page-header-text {
    width: 66.667%;
    float: left;
}